:root{
    --corPrimaria: #E41B15;
    --branco: #fff;
    --cinzento: #aaa;
    --preto: #000;
}

body{
   font-family: "Open Sans", sans-serif;
}

.btn{
    background-color: var(--corPrimaria);
    color: var(--branco);
    border: 1px solid var(--branco);
}

.badge{
    background-color: var(--corPrimaria);
}

.btn:hover{
    background-color: var(--branco);
    color: var(--corPrimaria);
    border: 1px solid var(--corPrimaria);
}

header{
    background-color: var(--corPrimaria);
}

header img{
    width: 200px;
}

nav input{
    background-color: var(--branco) !important; /*  ! important */
    color: var(--preto) !important;
}

nav input::placeholder{
    color: var(--cinzento) !important;
    
}

main p{
    text-align: center;
}

.card-title{
    min-height: 75px;
}

footer{
    background-color: var(--corPrimaria);
    color: var(--branco);
}

#gmaps{
    height: 400px;
}

footer a{
    color: var(--branco);
    border: 1px solid var(--branco);
    padding: 5px;
    border-radius: 100%;
}